@media all and (max-width: 980px) { 
    .nav-main {
        display:none;
    }   
}
@media all and (max-width: 980px) { 
    .bk-img-top {
        display:none;
    }   
}

@media all and (max-width: 980px) { 
    .mob-resume-ico {
        display: none!important;
    }   
}

@media all and (max-width: 980px) { 
    .img-about {
        padding-right: 0%;
        padding-bottom: 1%;
    }   
}
@media all and (max-width: 980px) { 
    .mob-con-icos {
        padding-right: 0%;
        padding-bottom: 1%;
        padding-left: 8rem!important;
    }   
}


